

SHOPIFY_STORE_DOMAIN=my-test-store.myshopify.com
SHOPIFY_ADMIN_API_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_API_VERSION=2026-07
PRODUCTS_PER_PAGE=50

# 
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=shopify_data
PG_USER=postgres
PG_PASSWORD=fakepassword
PG_SSL_MODE=disable
